main {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1040px;
    margin: 260px auto;
  }
  .imagen {
      max-width: 65%;
      height: 435px;
      width: 100%;
      background-position: center;
      border-radius: 0 10px 10px 0;
  }
  .imagen::before{
      border-radius: 0 10px 10px 0;
  }
  article{
      max-width: 35%;
      display: flex;
      flex-direction: column;
      margin: 70px 120px 0px 70px;
  }
  
  section{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  h1{
      text-align: left;
      margin: 0;
      font-size: 32px;
      margin-bottom: 32px;
  }
  h4{
      text-align: left;
      margin: 0;
      font-size: 14px;
      margin-bottom: 48px;
  }
  h2{
      text-align: left;
  }